# Server Environment
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/chijs_db?schema=public
JWT_SECRET=super_secret_jwt_key_chijs_collection_2026
ADMIN_EMAIL=admin@chijscollection.com
ADMIN_PASSWORD=admin123456
ADMIN_NAME=CHI J'S Owner
